<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Acerca de</title>
</head>
<body background = "../assets/imagenes/fondostandar.jpg">


    <div class = "NavBar">
        <div class= "referencia">
            <a id="registro" href="iniciosesion.html">REGISTRARSE / INICIAR SESIÓN</a>
        </div>
        <div class="referencia">
            <a id="reglas" href="reglas.html">REGLAS</a>
        </div>
        <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
        <div class="referencia">
            <a id="acerca" href="about.html">ACERCA DE</a>
        </div>
        <div class="referencia">
            <a id="quienes" href="preguntas.html">PREGUNTAS FRECUENTES</a>
        </div>
    </div>

    <div class="AboutHeader">
        <p>Acerca de</p>
    </div>

    <br>

    <div class="AboutFlex">

        <div class="resume">
            <p2>El origen de The Olympics Game </p2>
            <img src="../assets/imagenes/logoolimpiadas.png" alt="">
            <p4> Siempre fue nuestra idea desarrollar un juego distinto a lo convencional, nos gustan mucho los desafíos y la originalidad.
            Decidimos usar el deporte ya que somos un grupo de amigos apasionados por éste. En particular, la temática de 
            los Juegos Olímpicos se debe a que para nosotros es el evento más icónico culturalmente, por todas las disciplinas que posee
            y la producción que conlleva su realización. Por lo tanto, estamos sumamente motivados y orgullosos de poder llevar a cabo
            un proyecto con este mundo que tanto nos gusta.</p4>
        </div>
        <div class="motivation">
            <p2>Motivación</p2>
            <img src="../assets/imagenes/motivation.png" alt="">
            <p4> Buscamos como equipo de trabajo aprender de la mejor manera posible los contenidos del proyecto 
            del ramo IIC2513: Tecnologías y Aplicaciones Web, para poder hacer uso de aquellos conocimientos en nuestro
            futuro profesional. Además, buscamos ser sumamente organizados y metódicos, teniendo una buena dinámica de trabajo
            en equipo, lo cual también es sumamente necesario para poder adaptarse nuestros próximos equipos de trabajo...</p4>
        </div>
        <div class="aboutgame">
            <p2>¿Estás listo para vencer?</p2>
            <img src="../assets/imagenes/victoria.png" alt="">
            <p4> En The Olympics Game competirás en distintos deportes contra otros jugadores usando a tus delegaciones favoritas.</p4> <br>
            <p4> Es un juego de azar y estrategia con un tablero de casillas hexagonales.</p4><br>
            <p4>¿Crees que tienes lo necesario?</p4>
        </div>
        



    </div>


    
</body>
</html>