<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Crear Partida</title>


</head>

<body background = "../assets/imagenes/fondostandar.jpg">

<div class = "NavBar">
  <div class= "referencia">
    <a id="registro" href="olimpics.html">VOLVER</a>
  </div>
  <div class="referencia">
    <a id="reglas" href="reglas.html">REGLAS</a>
  </div>
  <div class="referencia">
    <a id="partida">¡VAMOS POR ESTAS OLIMPIADAS!</a>
  </div>
  <div class="referencia">
    <a id="acerca" href="medallas.html">MIS MEDALLAS</a>
  </div>
  <div class="referencia">
    <a id="quienes" href="preguntas.html">PREGUNTAS FRECUENTES</a>
  </div>
</div>

<div class="crearpartida">
    <div class="boxpartida">
      <p id="delapartida">MIS ATRIBUTOS</p>
      <div class="misaccesorios">
        <div id="accesorios">
          <img id="atriperso" src="../assets/imagenes/rayoaccesorio.png">
          <img id="atriperso" src="../assets/imagenes/fuerzaaccesorio.png">
          <p id="delapartida1">+2</p>
          <p id="delapartida1">+1</p>
        </div>
        <div id="accesorios">
          <img id="atriperso" src="../assets/imagenes/equilibrioaccesorio.png">
          <img id="atriperso" src="../assets/imagenes/resistenciaaccesorio.png"> 
          <p id="delapartida1">+1</p>
          <p id="delapartida1">+2</p>         
        </div>
        <div id="accesorios">
          <img id="atriperso" src="../assets/imagenes/cerebroaccesorio.png">
          <img id="atriperso" src="../assets/imagenes/coordinacionaccesorio.png">
          <p id="delapartida1">-</p>
          <p id="delapartida1">+3</p>
        </div>
      </div>
    </div>
    <div class="boxpartida">
      <p id="delapartida">PARTICIPANTES</p>
      <input type="text" placeholder="INVITAR JUGADOR">
      <input type="text" placeholder="INVITAR JUGADOR">
      <input type="text" placeholder="TU USUARIO">
      <br><br><br>
      <p id="delapartida">¿ESTAS LISTO?</p>
      <a href="juego.html"><input type="button" id="botonempezar" value="EMPEZAR PARTIDA"></a>
    </div>
    <div class="boxpartida">
      <p id="delapartida">MIS AMIGOS</p>
      <div id="amigos">
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
        <p id="delapartida2">TU AMIGO</p>
      </div>
    </div>
</div>