<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Iniciar Sesión</title>


</head>

<body background = "../assets/imagenes/fondoiniciosesion.jpg">

<div class = "NavBar">
  <div class= "referencia">
    <a id="registro" href="../../index.html">VOLVER</a>
  </div>
  <div class="referencia">
    <a id="reglas" href="reglas.html">REGLAS</a>
  </div>
  <div class="referencia">
    <a id="navbarnegro" href="preguntas.html">PREGUNTAS FRECUENTES</a>
  </div>
  <div class="referencia">
    <a id="acerca" href="about.html">ACERCA DE</a>
  </div>
  <div class="referencia">
    <a id="quienes" href="nosotros.html">QUIÉNES SOMOS</a>
  </div>
</div>

<br>
<br>
<br>

<div class="reg">
  <p id="inses">
    Iniciar Sesión
  </p>
  <form>
    <input id="placeholder" type="text" placeholder="Nombre de Usuario">
    <input id="placeholder" type="text" placeholder="Contraseña">
    <!-- <button type="submit" href="olimpics.html">Iniciar Sesión</button> -->
    <br>
    <a href="olimpics.html"><input type="button" class="boton" value="Iniciar Sesión"></a>

    <br>
    <p id="sincuenta"> ¿No tienes cuenta? </p>
    <a href="registrarse.html"><input type="button" class="boton" value="Crear una cuenta"></a>
  </form>
</div>

      
</body>
</html>