<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>juego</title>

</head>
<body background = "../assets/imagenes/fondolanding.jpg">
<div class = "NavLand">
    <div class= "referencia">
        <a id="registro" href="crearpartida.html">VOLVER AL MENU DE PARTIDA</a>
    </div>
    <div class="referencia">
        <a id="reglas" href="../../index.html">TERMINAR PARTIDA</a>
    </div>
</div> 

<section class="juego">
    <div class="izq">
        <div class="gridtablero">
            <div id="columna1">
                <div class="hexagono" id="h21">
                    
                </div>
                <div class="hexagono" id="h22">

                </div>
                <div class="hexagono" id="h23">

                </div>
                <div class="hexagono" id="h24">

                </div>
                
            </div>
            <div id="columna2">
                <div class="hexagono" id="h20">
                    
                </div>
                <div class="hexagono" id="h8">

                </div>
                <div class="hexagono" id="h9">

                </div>
                <div class="hexagono" id="h10">

                </div>
                <div class="hexagono" id="h25">

                </div>

            </div>
            <div id="columna3">
                <div class="hexagono" id="h19">

                </div>
                <div class="hexagono" id="h7">

                </div>
                <div class="hexagono" id="h1">

                </div>
                <div class="hexagono" id="h2">

                </div>
                <div class="hexagono" id="h11">

                </div>
                <div class="hexagono" id="h26">

                </div>
                
            </div>
            <div id="columna4">
                <div class="hexagono" id="h36">
                    
                </div>
                <div class="hexagono" id="h18">

                </div>
                <div class="hexagono" id="h6">

                </div>
                <div class="hexagono" id="h0">

                </div>
                <div class="hexagono" id="h3">

                </div>
                <div class="hexagono" id="h12">

                </div>
                <div class="hexagono" id="h27">

                </div>
            </div>
            <div id="columna5">
                <div class="hexagono" id="h35">

                </div>
                <div class="hexagono" id="h17">

                </div>
                <div class="hexagono" id="h5">

                </div>
                <div class="hexagono" id="h4">

                </div>
                <div class="hexagono" id="h13">

                </div>
                <div class="hexagono" id="h28">

                </div>
                
            </div>
            <div id="columna6">
                <div class="hexagono" id="h34">
                    
                </div>
                <div class="hexagono" id="h16">

                </div>
                <div class="hexagono" id="h15">

                </div>
                <div class="hexagono" id="h14">

                </div>
                <div class="hexagono" id="h29">

                </div>
            </div>
            <div id="columna7">
                <div class="hexagono" id="h33">
                    
                </div>
                <div class="hexagono" id="h32">

                </div>
                <div class="hexagono" id="h31">

                </div>
                <div class="hexagono" id="h30">

                </div>
            </div>
        </div>
    </div>


    <div id="derecha">
        <div id="atributos">
            <div class="boxatributos">
                <p id="misatributos">MIS ATRIBUTOS</p>
                <div class="logoatributos">
                  <div id="logoatributos">
                        <img id="atriperso" src="../assets/imagenes/rayoaccesorio.png">
                        <img id="atriperso" src="../assets/imagenes/fuerzaaccesorio.png">
                        <img id="atriperso" src="../assets/imagenes/equilibrioaccesorio.png">
                        <img id="atriperso" src="../assets/imagenes/resistenciaaccesorio.png"> 
                        <img id="atriperso" src="../assets/imagenes/cerebroaccesorio.png">
                        <img id="atriperso" src="../assets/imagenes/coordinacionaccesorio.png">
                  </div>
                  <div id="numatributos">
                        <p id="juegoatributo">1</p>
                        <p id="juegoatributo">0</p>
                        <p id="juegoatributo">1</p>
                        <p id="juegoatributo">2</p>
                        <p id="juegoatributo">3</p>
                        <p id="juegoatributo">0</p>    
                  </div>
                  
                </div>
            </div>
        </div>

        <div id="turnos">
            <button class="buttonjugar">LANZAR DADO</button>
            <button class="buttonjugar">ENTRENAR</button>
            <img id="banderitas" src="/imagenes/brectangulares/brasil.jpg">
            <img id="banderitas" src="/imagenes/brectangulares/eeuu.jpg">
            <img id="banderitas" src="/imagenes/brectangulares/korea.jpg">
        </div>
        
    </div>
    
    
</div>