<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Mis Medallas</title>
</head>
<body background = "../assets/imagenes/fondostandar.jpg">
    
    <div class = "NavBar">
        <div class= "referencia">
            <a id="registro" href="perfil.html">MI PERFIL</a>
        </div>
        <div class="referencia">
            <a id="reglas" href="reglas.html">REGLAS</a>
        </div>
        <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
        <div class="referencia">
            <a id="acerca" href="tienda.html">MI TIENDA</a>
        </div>
        <div class="referencia">
            <a id="quienes" href="preguntas.html">PREGUNTAS FRECUENTES</a>
        </div>
    </div>

    <div class="MedallasHeader">
        <h1>Mis medallas</h1>
    </div>

    <br>

    <div class="MedallasFlex">

        <div class="MedallasFlexHeader">  
            <h3>#Partida ID</h3>
            <img src="../assets/imagenes/medallas/goldmedal.png" alt="">
            <img src="../assets/imagenes/medallas/silvermedal.png" alt="">
            <img src="../assets/imagenes/medallas/bronzemedal.png" alt="">
        </div>

        <!-- Acá hay que hacer un JS para proyectar todo el historial de partidas y sus resultados -->

        <div>
            <h3># 21</h3> 
            <h3> 2</h3>
            <h3> 5</h3>
            <h3> 2</h3>

        </div>

        <div>
            <h3># 7</h3>
            <h3> 3</h3>
            <h3> 1</h3>
            <h3> 4</h3>

        </div>

        <div>
            <h3>Totales</h3>
            <h3>5</h3>
            <h3>6</h3>
            <h3>6</h3>
        </div>

    </div>

</body>
</html>