<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Quienes Somos</title>
</head>
<body background = "../assets/imagenes/fondostandar.jpg">
    
    <div class = "NavBar">
        <div class= "referencia">
            <a id="registro" href="iniciosesion.html">REGISTRARSE / INICIAR SESIÓN</a>
        </div>
        <div class="referencia">
            <a id="reglas" href="quienes_somos.html">REGLAS</a>
        </div>
        <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
        <div class="referencia">
            <a id="acerca" href="about.html">ACERCA DE</a>
        </div>
        <div class="referencia">
            <a id="quienes" href="nosotros.html">QUIÉNES SOMOS</a>
        </div>
    </div>

    <div class="NosotrosHeader">
        <p1>Quiénes Somos</p1>
    </div>

    <br>

    <div class="NosotrosFlex">
        <div class="us">
            <h2> Nosotros </h2>
            <h4> Somos 3 estudiantes de 4to año de Ingeniería, que estamos este semestre (2022-2)
                realizando el curso Tecnologías y Aplicaciones Web (IIC2513). Este proyecto semestral tiene como objetivo que los alumnos
                aprendan a construir e implementar una completa aplicación web.</h4>
        </div>

        <div class="flex-group">
            <div class="student-box">
                <img src="../assets/imagenes/alumnos/nico.jpg">
                <h3>Nicolás Villarroel M.</h3>
                <h4>Major Computación en Tecnologias de la Información</h4>
                <h4>Minor industrial</h4>
            </div>
            <div class="student-box">
                <img src="../assets/imagenes/alumnos/pablo.jpg">
                <h3>Pablo Álvarez S.</h3>
                <h4>Major Ingeniería de Software</h4>
                <h4>Minor industrial</h4>
            </div>
            <div class="student-box">
                <img src="../assets/imagenes/alumnos/fercho.jpeg">
                <h3>Fernando López W.</h3>
                <h4>Major Computación en Tecnologias de la Información</h4>
                <h4>Minor industrial</h4>
            </div>
        </div>


    </div>


</body>