<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>The Olimpics</title>

</head>
<body background = "../assets/imagenes/fondoolimpic.jpg">
<div class = "NavLand">
  <div class= "referencia">
    <a id="registro" href="perfil.html">MI PERFIL</a>
  </div>
  <div class="referencia">
    <a id="reglas" href="reglas.html">REGLAS</a>
  </div>
  <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
  <div class="referencia">
    <a id="acerca" href="medallas.html">MIS MEDALLAS </a>
  </div>
  <div class="referencia">
    <a id="quienes" href="tienda.html">MI TIENDA</a>
  </div>
</div>

<p id="LandingText">¿LISTO PARA COMPETIR? </p>

<br>
<br>
<div>
  <img id="logoolimpiadas" src="../assets/imagenes/logoolimpiadas.png">
</div>
      
</body>
</html>