<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>perfil</title>

</head>
<body background = "../assets/imagenes/fondoreglas.jpg">
    <div class = "NavLand">
        <div class= "referencia">
            <a id="registro" href="olimpics.html">VOLVER</a>
        </div>
        <div class="referencia">
            <a id="reglas" href="reglas.html">REGLAS</a>
        </div>
        <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
        <div class="referencia">
            <a id="acerca" href="medallas.html">MIS MEDALLAS</a>
        </div>
        <div class="referencia">
            <a id="quienes" href="preguntas.html">PREGUNTAS FRECUENTES</a>
        </div>
    </div>


<div class="perfil">
    <div class="boxperfil">
        <div class="miperfil">
            <div>
                <img class="imgperfil" src="../assets/imagenes/brectangulares/brasil.jpg">
            </div>
            <div id="accesorios">
                <p class="infoperfil">Nombre de Usuario:</p>
                <p class="infoperfil">Victorias:</p>
                <p class="infoperfil">Partidas jugadas:</p>
                <p class="infoperfil">Medallas disponibles:</p>
            </div>
            <label id="tusatributos">ATRIBUTOS</label>
            <div class="atributoperfil">
                <div class="atributos-perfil">
                    <p id="letraatr">FUERZA</p>
                    <div id="barra">
                        <meter value="1" min="0" max="10"></meter>
                    </div>
                    <p id="letraatr">VELOCIDAD</p>
                    <div id="barra">
                        <meter value="2" min="0" max="10"></meter>
                    </div>
                </div>
                <div class="atributos-perfil">
                    <p id="letraatr">EQUILIBRIO</p>
                    <div id="barra">
                        <meter value="1" min="0" max="10"></meter>
                    </div>
                    <p id="letraatr">RESISTENCIA</p>
                    <div id="barra">
                        <meter value="2" min="0" max="10"></meter>
                    </div>
                </div>
                <div class="atributos-perfil">
                    <p id="letraatr">COORDINACIÓN</p>
                    <div id="barra">
                        <meter value="10" min="0" max="10"></meter>
                    </div>
                    <p id="letraatr">INTELIGENCIA</p>
                    <div id="barra">
                        <meter value="1" min="0" max="10"></meter>
                    </div>
                </div>
            </div>
        
    </div>
</div>