<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script type="text/javascript" src="../javascript/java.js"></script>
    <title>Preguntas Frecuentes</title>

</head>
<body background = "../assets/imagenes/fondostandar.jpg">
<div class = "NavLand">
  <div class= "referencia">
    <a id="registro" href="iniciosesion.html">REGISTRARSE / INICIAR SESIÓN</a>
  </div>
  <div class="referencia">
    <a id="reglas" href="reglas.html">REGLAS</a>
  </div>
  <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
  <div class="referencia">
    <a id="acerca" href="about.html">ACERCA DE</a>
  </div>
  <div class="referencia">
    <a id="quienes" href="nosotros.html">QUIENES SOMOS</a>
  </div>
</div>
<section id="section-preguntas">
    <div id="titulopregfrec">
        <p1 id="pregfrec">PREGUNTAS FRECUENTES</p1>
    </div>
    <div class="preguntas">
        <!--Sacado de http://www.forosdelweb.com/f13/preguntas-frecuentes-desplegables-998918/ -->
        <div>
            <p onclick="contenido('Uno')">¿Puedo jugar con un amigo online?</p>
            <span id="Uno">No se puede</span>
        </div>
        <div>
            <p onclick="contenido('Dos')">¿Se puede jugar de a 2 personas? ¿O tiene que ser de a 3?</p>
            <span id="Dos">Puedes jugar de a 2 o 3 por partida</span>
        </div>
        <div>
            <p onclick="contenido('Tres')">¿Cuanto tiempo demora el juego en terminar?</p>
            <span id="Tres">Variable dependiendo de la velocidad de los jugadores</span>
        </div>
        <div>
            <p onclick="contenido('Cuatro')">¿Puedo elegir una federación distinta cada partida?</p>
            <span id="Cuatro">Si, esa es la que representaras en la partida</span>
        </div>
    </div>

</section>
      
</body>
</html>