<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script type="text/javascript" src="../javascript/java.js"></script>
    <title>Registrarse/Iniciar Sesión</title>


</head>

<body background = "../assets/imagenes/fondocrear.jpg">

<div class = "NavBar">
  <div class= "referencia">
    <a id="registro" href="../../index.html">VOLVER</a>
  </div>
  <div class="referencia">
    <a id="reglas" href="reglas.html">REGLAS</a>
  </div>
  <div class="referencia">
    <a id="navbarnegro" href="preguntas.html">PREGUNTAS FRECUENTES</a>
  </div>
  <div class="referencia">
    <a id="acerca" href="about.html">ACERCA DE</a>
  </div>
  <div class="referencia">
    <a id="quienes" href="nosotros.html">QUIÉNES SOMOS</a>
  </div>
</div>

<br>
<div class="reg1">
  <h2>
    Registrate
  </h2>
  <form>
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Apellido">
    <input type="text" placeholder="Nombre de Usuario">
    <input type="email" placeholder="@email">
    <p id="contraseña">*La contraseña debe constar de al menos 8 caracteres<br> alfanuméricos y alternar entre mayúsculas y minúsculas*</p>
    <input type="password" placeholder="Contraseña"/>
    <input type="password" placeholder="Repetir Contraseña"/>
    <label>Delegación Favorita</label>
    <div class="grid-container">
        <image class="grid-item" src="../assets/imagenes/brectangulares/brasil.jpg">
        <image class="grid-item" src="../assets/imagenes/brectangulares/china.jpg">
        <image class="grid-item" src="../assets/imagenes/brectangulares/eeuu.jpg">
        <image class="grid-item" src="../assets/imagenes/brectangulares/jamaica.jpg">
        <image class="grid-item" src="../assets/imagenes/brectangulares/korea.jpg">
        <image class="grid-item" src="../assets/imagenes/brectangulares/rusia.jpg">
    </div>
    <button class="boton" type="submit" onclick="Alert()">Registrarse</button>
  </form>
</div>

      
</body>
</html>