<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Reglas</title>

<body background = "../assets/imagenes/fondostandar.jpg">

    <div class = "NavBar">
        <div class= "referencia">
            <a id="registro" href="iniciosesion.html">REGISTRARSE / INICIAR SESIÓN</a>
        </div>
        <div class="referencia">
            <a id="reglas" href="reglas.html">REGLAS</a>
        </div>
        <a id="partida" href="crearpartida.html">CREA TU PARTIDA</a>
        <div class="referencia">
            <a id="acerca" href="about.html">ACERCA DE</a>
        </div>
        <div class="referencia">
            <a id="quienes" href="nosotros.html">QUIÉNES SOMOS</a>
        </div>
    </div>
    
    <div class="ReglasHeader">
        <p>Reglas</p>
    </div>
    <br>
    
    <div class="ReglasFlex">
    
        <div>
            <details>
                <summary>Lo básico</summary>
                <li>
                    The Olympics game es un juego de azar y estrategia que permitirá que 3 jugadores se enfrenten entre sí
                    en una carrera por un recorrido con muchos obstáculos, competencias, versus, cartas sorpresa y más. El primero
                    en llegar a la meta será el ganador!
                </li>
            </details>
        </div>
        <div>
            <details>
                <summary>Los Atributos</summary>
                <li>
                    Al registrarte en The Olympics game debes elegir una de las 6 delegaciones posibles. Cada una de
                    estas cuenta con valores diferentes en sus atributos iniciales. Los atributos son: Fuerza, Velocidad,
                    Inteligencia, Equilibrio, Resistencia y Coordinación. Intenta mejorar estos atributos en la partida
                    para superar las competencias sin problemas y vencer a tus rivales!
                </li>
            </details>
        </div>
        <div>
            <details>
                <summary>Las competencias</summary>
            <li>
                Las competencias comienzan cuando caes en una casilla de competencia. Estas piden un mínimo de puntaje para poder pasar sobre ellas.
                Cada competencia representa un deporte distinto, donde cada deporte posee distinas combinaciones
                de atributos necesarios para competir en él. Los valores de los atributos son ponderados con un dado
                regular del 1 al 6, con lo cual se obtiene el puntaje para poder (o no) avanzar.
            </li>
            <li>
                Se puede competir contra otro jugador si es que se cae en la casilla Versus. Aquí, puedes desafíar
                a un rival a una competencia específica, donde el perdedor retrocederá ni más ni menos que 
                ¡3 casillas!
            </li>
            </details>
        </div>
        <div>
            <details>
                <summary>Cartas sorpresa</summary>
                <li>
                    Si llegas a caer en una casilla sorpresa, preparate para cualquier cosa. Pueden ocurrirte eventos
                    positivos como entrenamiento gratis o un objeto útil para tu velocidad, como también lesiones
                    o pérdidas de turnos que afectaran tu rendimiento en la partida.
                </li>
                <img class="reglaespecifico" src="../assets/imagenes/pregunta.png">
            </details>
        </div>
        <div>
            <details>
                <summary>Tu turno</summary>
                <li>En el momento de tu turno, tienes 2 opciones: Lanzar el dado ó entrenar:</li>
                <li>
                    Si escoges Lanzar el dado, te pueden salir los valores del 1 al 3 para así avanzar dicha 
                    cantidad de espacios.
                </li>
                <li>
                    Si escoges entrenar, perderás la oportunidad de avanzar, pero podás aumentar en 1 punto 1 atributo
                    a elección tuya.
                </li>
            </details>
        </div>
        <div>
            <details>
                <summary>Medallas</summary>
                <li>
                    Una vez terminada la partida, independiente de si ganes o no, la cantidad de medallas obtenidas
                    de las competencias se valoraran en puntos para que puedas usar en la tienda. En dicha tienda
                    tendrás la posibilidad de comprar objetos para aumentar tus atributos iniciales de las partidas!
                </li>
            </details>
        </div>
        <br>
        <div class="ReglasFooter">
            <p>¡Estás listo para jugar!</p>
            <img src="../assets/imagenes/logoolimpiadas.png" alt="">
        </div>
    </div>

    







</body>


    

